
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

[v-cloak] { display: none; }

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.table-data2.table{
    .th-date-stat, .td-date-stat{
        width: 50px;
        padding: 5px!important;
        font-size: 12px;
        text-align: center!important;
    }
}

.je_dostopav, .prodano, .mail_poslan{
    .fa-check{
        color: white;
        padding: 5px;
        border-radius: 0.25rem;
    }
}
.mail_poslan .fa-check{  background-color: #3490dc;  }
.je_dostopav .fa-check{  color: black; background-color: #ffed4a;  }
.prodano .fa-check{  background-color: #38c172;  }

.overview-item{
    min-height: 215px;
}

.dot--orange{
    background: orange;
}

.au-btn.au-btn--gray{
    background: #808080;
    &:hover{ background: #767676; }
}

.phone-box{
    background-color: #d4d4d4;
    padding: 10px 20px;
    border-radius: 3px;

    .phone-title{
        display: flex;
        align-items: center;
        justify-content: center;

        h4{
            font-weight: 500;
            padding-bottom: 0!important;
            &:hover, &:focus{ text-decoration: underline; }
        }
    }
    .phone-header{ cursor: pointer; }
    .phone-stat .badge{ font-size: 90%; }
    .phone-body{
        -webkit-transition: height 0.35s ease;
        transition: height 0.35s ease;
    }
}


.btn-datepicker{
    min-width: 145px;
    padding: 0 15px!important;

    input{
        width: 115px;
        color: white;
        cursor: pointer;
        text-align: center;
        background-color: transparent;
        &::placeholder{
            color: darken(white, 20%);
        }
    }
    input, .vdp-datepicker{ display: inline-block; }

    .vdp-datepicker__calendar{ right: 0!important; }

    .vdp-datepicker__calendar header span,
    .vdp-datepicker__calendar .cell{
        color: black!important;
    }
}

.toolbar-box{
    display: block;
    margin: 25px 0;
    @include clearfix();

    .toolbar-box-wrapper{
        @include float-right();
    }
    .status-picker-box,
    .datepicker-box{
        margin-right: 20px;
    }
    .vdp-datepicker__calendar{
        .cell.selected{
            color: #FFF!important;
            background: #4272d7!important;
        }
        .cell:not(.blank):not(.disabled).day:hover{
            border-color: #4272d7!important;
        }
    }
    .btn-refresh{
        font-size: 22px;
        text-align: center;
        padding: 0 20px;
    }
    .select-order-status{
        font-size: 16px;
        min-width: 145px;
        height: 45px;
        color: #FFF;
        background-color: #808080;
        @include border-radius(4px);
    }
}

.importBox1, .importBox2{
    @include transition( opacity 1s ease-in-out );
}

.disableBox{
    opacity: 0.5;
    pointer-events: none;
}

.no-opacity{ opacity: 0; }

.display-5{
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #63c76a;
    margin: 20px 0 15px 0;
}

.progress.header-progress{
    position: fixed;
    top: 75px;
    left: 300px; right: 0;
    width: 100%; height: 5px;
    margin: 0;
    z-index: 1002;
}

.header-progress + .au-breadcrumb{ margin-top: 80px!important; }

.modal_on_page{
    .section__content{z-index: auto; }
}

.fixed-table-pagination{
    margin: 0 12px;
    font-size: 12px;
    color: #666;

    .page-link{ color: #aaa; }
    .page-item.active .page-link{
        background-color: #aaa;
        border-color: #aaa;
    }
}

.bootstrap-table .fixed-table-container{
    .fixed-table-body .fixed-table-loading .loading-wrap .loading-text{
        font-size: 22px!important;
        margin-top: 30px!important;
    }
    .table {
        thead{
            th{
                color: #808080;
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase;
                border: none!important;
            }
            th div{
                border-top: none!important;
                border-bottom: 1px solid #f2f2f2!important;
            }
            th .sortable,
            th .th-inner{ padding: 23px 10px 33px 40px!important; }
        }
        tbody td.desc{ color: #4272d7; }
    }
}